.Appli {
  margin: 0;
  padding: 0;
  position: relative;

  button {
    border: none;
    z-index: 5;
    background-color: white;
    display: flex;
    :first-child {
      margin-top: -200px;
      font-size: 40px;
      position: absolute;
    }
  }
}
