.Dossier {
  width: 230px;
  height: auto;
  background-color: black;
  color: white;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;

  .couverture {
    .deplacer {
      background-color: black;
      color: white;
      position: absolute;
      z-index: 5;
      border: solid white 1px;
      margin: 5px;
    }
    img {
      width: 100%;
      position: relative;
    }
  }
  .info {
    margin-left: 10px;
    font-size: 0.75em;
    line-height: 0.1em;
    display: flex;
    flex-direction: column;
  }
  button {
    border: none;
    background-color: black;
    :first-child {
      color: blanchedalmond;
      background-color: black;
      z-index: 5;
      margin-top: -40px;
      margin-left: 80px;
      position: absolute;
    }
  }
}
