.Entete {
  position: sticky;
  width: 100%;
  top: 0;
  height: 40px;
  margin: 0px;
  padding: 20px;
  color: #fff;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;

  div {
    cursor: pointer;

    :last-of-type {
      margin-left: auto;
      width: 10%;
    }
  }
}
